# Bind address to use for the RPC service for backup and restore.
# TODO: Setup backup
# bind-address = "127.0.0.1:8088"
hostname = "{{ ansible_hostname }}"

[meta]
  dir = "/var/lib/influxdb/meta"
  # retention-autocreate = true
  logging-enabled = true

[data]
  dir = "/var/lib/influxdb/data"
  wal-dir = "/var/lib/influxdb/wal"

[http]
  enabled = true
  # flux-enabled = false
  # flux-log-enabled = false
   bind-address = ":8086"
   auth-enabled = false
  # realm = "InfluxDB"
  # log-enabled = true
  # suppress-write-log = false
  # access-log-path = ""
  # access-log-status-filters = []
  # write-tracing = false
  # pprof-enabled = true
  # debug-pprof-enabled = false
  # https-enabled = false
  # https-certificate = "/etc/ssl/influxdb.pem"
  # https-private-key = ""
  # shared-secret = ""
  # max-row-limit = 0
  # max-connection-limit = 0
  # unix-socket-enabled = false
  # bind-socket = "/var/run/influxdb.sock"
  # max-body-size = 25000000
  # max-concurrent-write-limit = 0
  # max-enqueued-write-limit = 0
  # enqueued-write-timeout = 0


[logging]
  # format = "auto"
  # level = "info"
  # suppress-logo = false
