[agent]
  interval = "{{ telegraf_agent_interval }}"
  round_interval = {{ telegraf_agent_round_interval }}
  metric_batch_size = {{ telegraf_agent_metric_batch_size }}
  metric_buffer_limit = {{ telegraf_agent_metric_buffer_limit }}
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  debug = {{ telegraf_agent_debug }}
  quiet = {{ telegraf_agent_quiet }}
  logfile = "{{ telegraf_agent_logfile }}"
  hostname = "{{ telegraf_agent_hostname }}"
  omit_hostname = {{ telegraf_agent_omit_hostname }}

[global_tags]
  dc = "Odense"

[[outputs.influxdb]]
  urls = ["{{ telegraf_influxdb_instance }}"]
  database = "{{ telegraf_influxdb_database }}"
  skip_database_creation = {{ telegraf_influxdb_database_skip_creation }}
  username = "{{ telegraf_influxdb_database_username }}"
  password = "{{ telegraf_influxdb_database_password }}"
  user_agent = "{{ telegraf_influxdb_user_agent }}"
  udp_payload = "512B"

  [[inputs.cpu]]
    percpu = true
    totalcpu = true
    fielddrop = ["time_*"]

  [[inputs.disk]]
    ignore_fs = ["tmpfs", "devtmpfs", "none", "iso9660", "overlay", "aufs", "squashfs"]

  [[inputs.diskio]]

  [[inputs.kernel]]

  [[inputs.mem]]

  [[inputs.swap]]

  [[inputs.net]]
    fieldpass = [ "bytes*" ]

  [[inputs.netstat]]

  [[inputs.processes]]

  [[inputs.system]]

{% if container_engine|default('None') == 'docker' %}
  [[inputs.docker]]
    endpoint = "unix:///var/run/docker.sock"
    gather_services = false
    container_names = []
    source_tag = false
    container_name_include = []
    container_name_exclude = []
    container_state_include = ["running", "exited"]
    container_state_exclude = ["running", "exited"]
    timeout = "5s"
    perdevice = true
    total = true
    docker_label_include = []
    docker_label_exclude = []
    tag_env = ["HEAP_SIZE"]
{% endif %}
