image_default_transport = "docker://"

conmon_path = [
	"/usr/libexec/podman/conmon",
	"/usr/local/libexec/podman/conmon",
	"/usr/local/lib/podman/conmon",
	"/usr/bin/conmon",
	"/usr/sbin/conmon",
	"/usr/local/bin/conmon",
	"/usr/local/sbin/conmon",
	"/run/current-system/sw/bin/conmon",
]

conmon_env_vars = [
  "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
]

cgroup_manager = "systemd"
tmp_dir = "/var/run/libpod"
max_log_size = -1
no_pivot_root = false
cni_config_dir = "/etc/cni/net.d/"

cni_plugin_dir = [
  "{{ podman_go_path }}/plugins/bin",
  "/usr/libexec/cni",
  "/usr/lib/cni",
  "/usr/local/lib/cni",
  "/opt/cni/bin"
]

cni_default_network = "podman"
infra_image = "k8s.gcr.io/pause:3.1"
infra_command = "/pause"
enable_port_reservation = true
lock_type = "shm"
num_locks = 2048
events_logger = "journald"
# detach_keys = "ctrl-p,ctrl-q"

runtime = "runc"
runtime_supports_json = ["crun", "runc"]
runtime_supports_nocgroups = ["crun"]
[runtimes]
runc = [
	"/usr/bin/runc",
	"/usr/sbin/runc",
	"/usr/local/bin/runc",
	"/usr/local/sbin/runc",
	"/sbin/runc",
	"/bin/runc",
	"/usr/lib/cri-o-runc/sbin/runc",
	"/run/current-system/sw/bin/runc",
]
crun = [
  "/usr/bin/crun",
	"/usr/sbin/crun",
	"/usr/local/bin/crun",
	"/usr/local/sbin/crun",
	"/sbin/crun",
	"/bin/crun",
	"/run/current-system/sw/bin/crun",
]

kata-runtime = [
  "/usr/bin/kata-runtime",
]

kata-qemu = [
  "/usr/bin/kata-qemu",
]

kata-fc = [
  "/usr/bin/kata-fc",
]
