[registries.search]
registries = {{ podman_registries }}
[registries.insecure]
registries = {{ podman_registries_insecure | default([]) }}
[registries.block]
registries = {{ podman_registries_block | default([]) }}
